<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.gblog.dao.ReplyDAO">

	<select id="replyList" resultType="com.gblog.dto.ReplyDTO">
	<![CDATA[
		select *
		from blog_reply
		where post_id = #{post_id}
		order by rp_id asc
	]]>
	</select>
	
	<insert id="replyInsert">
		insert into blog_reply (rp_writer, rp_content, post_id)
		value (#{rp_writer}, #{rp_content}, #{post_id})
	</insert>
	
	<update id="replyUpdate">
		update blog_reply
		set rp_content = #{rp_content}
		where rp_id = #{rp_id}
	</update>
	
	<delete id="replyDelete">
		delete from blog_reply
		where rp_id = #{rp_id}
	</delete>

</mapper>