<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.gblog.dao.UserDAO">
  
  <!-- 회원등록 -->
  <insert id="insertUser">
  	<![CDATA[
  	insert into user(user_id, user_pw, user_name, user_birth, user_email, user_gender)
  	values(#{user_id}, #{user_pw}, #{user_name}, #{user_birth}, #{user_email}, #{user_gender})
  	]]>
  </insert>
  
<!-- 아이디중복확인 -->
  <select id="idcheck" resultType="int">
  <![CDATA[
  select count(*) from user
  where user_id = #{user_id}  
  
  ]]>
  
  </select>
  
  
  <!-- 이메일 중복 확인 -->
  <select id="login" resultType="com.gblog.dto.UserDTO">
  <![CDATA[
 
  select * from user
  where
  user_id = #{user_id} 
  ]]>
  
  </select>
  
  <!--  select * from user
  where
  user_id = #{user_id} and user_pw = #{user_pw} -->
  
  
  
 <!-- 아이디 찾기 -->
  <select id="idselect" resultType="com.gblog.dto.UserDTO">
  <![CDATA[
  select user_id, user_name, user_date
  from user
  where user_name = #{user_name} and
  user_email = #{user_email}
  
  ]]>
  </select>
  
  
  <select id="pwselect" resultType="com.gblog.dto.UserDTO">
  <![CDATA[
  select user_pw
  from user
  where user_id = #{user_id} and
  user_email = #{user_email}
  ]]>
  </select>
  
  <!-- 새 password -->
  <update id="modify">
   <![CDATA[
  update user
  set user_pw = #{user_pw}
  where user_id = #{user_id} and user_email = #{user_email}
  ]]>
  </update>
   
   <delete id="userdelete" >
   <![CDATA[
   delete from user 
   where user_id = #{user_id} 
   
   ]]>
      
   </delete>
   
   
   
   
   
   

  
  
  
  
  
  
  
  
  </mapper>